<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <%include partials/angular-material.ejs%>
      <%include partials/controllers.ejs%>
  </head>
  <body ng-app="LoginSession">

  </body>
</html>
